.col-md-6{
    margin-top: 150px;
    
}

.card, .card-header{
    border: 1px solid blue;
    background-color: aquamarine;
}


.m-0{
   color: blue;
  
}
.card{
    background-color: rgb(44, 142, 142);
}
p, h3{
    color: aliceblue;
}